/* navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b41414f3;
    border-radius: 0.5em;
    border: 2px solid black; /* Set border with border property */
}

nav ul li {
    float:left;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:#FFFFFF;
}

nav ul li a:hover:not(.active) {
    background-color: #980a0a;
}

nav ul a.active {
    background-color: #ff0000;
    font-weight: bold;
}

nav ul li.right {
    float: right;
}
/* End Navigation bar */


/* Mainpage */
.top {
    overflow-x: hidden; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.top img {
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    top: -15px;
    position: relative;
    box-sizing: border-box;
    border-radius: 0.5em;
}

.body {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    max-width: 100%;
}

.main {
    width: 78%;
    height: 68vh;
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    white-space: pre-warp;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#9999b580;
    font-weight: bold;
    overflow-y: auto;
    border-radius: 0.5em;
    border: 1px solid black;
}

.side {
    text-align: left;
    width: 20%;
    margin-top: 2px;
    
    padding-left: 10px;
    padding-bottom: 5px;
    border-radius: 0.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: #302d30;
    color:#ffffff;
    font-weight: normal;
    border: 1px solid black;
}


.bottom {
    position: absolute;
    width: 99%;
    bottom: -240px;
    height: 180px;
    background-color: #302d30;
    border: 1px solid black;
    border-radius: 0.5em;
}

.bottom2 {
    position: absolute;
    width: 99%;
    height: 220px;
    bottom: 0;
    background-color: #302d30;
    border: 1px solid black;
    border-radius: 0.5em;
}

.main img {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 2em;
}
/* End mainpage */

/* Bottom Image */
.bottom_img {
    position: absolute;
    max-width: 100%;
    height: 55%;
    left: 10px;
    top: -15px;
}

.bottom_img2 { 
    position: absolute;
    bottom: 70px;
    left: 25px;
    max-width: 16%;
    height: auto;
}

.bottom2_img {
    position: absolute;
    max-width: 100%;
    height: 55%;
    left: 10px;
    top: -15px;
}

.bottom2_img2 { 
    position: absolute;
    bottom: 70px;
    left: 25px;
    max-width: 16%;
    height: auto;
}
/* End bottom image */

/* Bottom Text */
.bottom .bottomtext  {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 14px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bottom_copyright {
    position: absolute;
    bottom: 0px;
    left: 25px;
    font-size: 12px;
    color: red;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bottom2 .bottom2text  {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 14px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bottom2_copyright {
    position: absolute;
    bottom: 0px;
    left: 25px;
    font-size: 12px;
    color: red;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Review */
#review {
    width: 75%; 
    height: 100px; 
    resize: vertical;
    caret-color: black;
    padding: 10px;
    box-sizing: border-box; 
    white-space: pre-wrap;
    font-size: 16px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
    position: relative;
    left: 0;
    outline: none;
    border-color: rgba(0, 0, 0, .15);
    }

.main #add_review_textarea {
    width: 30%;
    height: 150px;
}

#make_model_year {
    display: flex;
}

#make_model_year label {
    flex: 0, 0, 100px;
    margin-right: 5px; /* Add spacing between labels */
}

#make_model_year select {
    height: 2.5vh;
    margin-right: 50px;
}

/* End Review */


/* Car info */
.main #car_info_textarea{
    height: 120px;
    width: 40vh;
    margin-left: 10px;
}

.main #car_info {
    margin-left: 10px;
}

.main #submit{
    margin-left: 10px;
}

main h3 {
    font-size: 30px;
}
/* Car info */