<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel = "stylesheet" type="text/css" href='static/style.css'>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/car">Add a Car</a></li>
            <li><a href="/view">View Cars</a></li>
            <li><a href="review">Add a Review</a></li>
            <li><a href="/about" class = "active">About Us</a></li>
        </ul>
    </nav>
    <div class = "top">
       <h1>Python Car Review Site</h1>
        <img src = 'static/pictures/Top Logo 5.jpg'>
    </div>
    <div class = "body">
        <div class = "main">
        <main>
            <h2>We have one of the greatest car review site in the world!</h2>
            <p>This site is dedicated to all car lovers out there. Lots of time and effort was put into amassing this massive library. <p>
            <p>Site creators: Yau On Li & David Tang</p>

            <p>Special thanks to Donald McDonald and Albert Bablert for the compliation process. 
            
            <p>At this site, you can view and give your opinions on the world's 16,000 brands of vehicles. You can expect reviews to be accurate and reliable! A like system is available for reviews. Enjoy!</p>                  
        </main>
        </div>
        <div class ="side">
            <h3>Our Favorite Car of the Month</h3>
            <img class = "side_img" src="/static/pictures/side 2.jpg">
        </div>
        <div class = "bottom">
            <img class = "bottom_img" src = "static/pictures/Seneca Logo 1.png">
            <img class = "bottom_img2" src = "static/pictures/social media icons.jpg">
            <div class = "bottomtext">
                <a href="#" style=color:white;>Make a donation</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Privacy Statement</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Accessibility</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Terms of Use</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Join</a>
            </div>
            <p class = "bottom_copyright">© PythonCarReview.com Inc, CopyRight. By using pythoncarreviews.com, all interactions and user inputs are stored for legal purposes</p>
        </div>
    </div>
</body>
</html>