<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel = "stylesheet" type="text/css" href='static/style.css'>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/car">Add a Car</a></li>
            <li><a href="/view">View Cars</a></li>
            <li><a href="review">Add a Review</a></li>
            <li><a href="/about" class = "active">About Us</a></li>
        </ul>
    </nav>
    <div class = "body">
        <div class = "main">
        <main>
            <h2>We have one of the greatest car review site in the world!</h2>
            <p>This site is dedicated to all car lovers out there. Lots of time and effort was put into amassing this massive library. Special thanks to Donald McDonald and Albert Bablert for the compliation process. At this site, you can view and give your opinions on the world's 16,000 brands of vehicles. You can expect reviews to be accurate and reliable! Enjoy!</p>                  
        </main>
        </div>
        <div class ="side">
            <h2>This goes on the right</h2>
        </div>
        <div class = "bottom">
        </div>
    </div>
</body>
</html>