<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Review</title>
    <link rel = "stylesheet" type="text/css" href='static/style.css'>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/car">Add a Car</a></li>
            <li><a href="/view">View Cars</a></li>
            <li><a href="review" class = "active">Add a Review</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
    <div class = "top">
        <h1>Python Car Review Site</h1>
        <img src = 'static/pictures/Top Logo 4.jpg'>
    </div>
    <div class = "body">
        <div class = "main">
        <main>
            <h2>Please Submit Your Review</h2>
            <form method = "POST" action = "/review">
                <label for = "user">Name:</label><br>
                <input type = "text", id ="user", name = "user", placeholder = "Your name"><br><br>
                
                <label for = "make">Car Make, Model, Year:</label><br>
                <select id = 'make', name = "make", required><br><br>
                    <option value = selected></option>
                    {% for make in makes %}
                    <option value = {{make[0]}}>{{make[0]}}</option>
                    {% endfor %}
                </select><br><br>
                

                <label for = "rating">Rating:</label><br>
                <input type = "number", min = 1, max = 10, id = "rating", name = "rating", required><br><br>
                <label for = "review">Review:</label><br>
                <textarea name = "review", placeholder = "Type your review here", id = "add_review_textarea"></textarea><br><br>
                <input type = "Submit" value = "Submit">
            </form>
        </main>
        </div>
        <div class ="side">
            <h2>Recently Reviewed</h2>
            <p class = "side_text1">Kia Stinger 2023</p>
            <img class = "side_img1" src="/static/pictures/Kia, Stinger, 2023.jpg"> 
            <p class = "side_text3">Acura MDX 2024</p>
            <img class = "side_img2" src="/static/pictures/Acura, MDX, 2024.jpg">
        </div>
        <div class = "bottom">
            <img class = "bottom_img" src = "static/pictures/Seneca Logo 1.png">
            <img class = "bottom_img2" src = "static/pictures/social media icons.jpg">
            <div class = "bottomtext">
                <a href="#" style=color:white;>Make a donation</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Privacy Statement</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Accessibility</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Terms of Use</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Join</a>
            </div>
            <p class = "bottom_copyright">© PythonCarReview.com Inc, CopyRight. By using pythoncarreviews.com, all interactions and user inputs are stored for legal purposes</p>
        </div>
    </div>
</body>
</html>