<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel = "stylesheet" type="text/css" href='static/style.css'>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/car">Add a Car</a></li>
            <li><a href="/view">View Cars</a></li>
            <li><a href="/review">Add a Review</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
    <div class = "top">
        <h1>Python Car Review </h1>
        <img src = 'static/pictures/Top Logo.jpg'>
    </div>
    
    <div class = "body">
        <div class = "main">
        <main>
            <h1>Reviews</h1>
            <table border = "3">
                <tr>
                    <th>Name</th>
                    <th>Car</th>
                    <th>Date</th>
                    <th>Rating</th>
                    <th>Review</th>
                    <th>Found Useful</th>
                    <th>I Like it</th>
                <tr>
                {% for user in users %}
                <tr>
                    <td>{{user[1]}}</td>
                    <td>{{user[2]}}</td>
                    <td>{{user[3]}}</td>
                    <td>{{user[4]}}</td>
                    <td>{{user[5]}}</td>
                    <td>{{user[6]}}</td>
                    <td>
                        <a href = "/useful/{{user[0]}}/{{user[6]}}">Like</a>
                    </td>
                </tr>
                {% endfor %}
                    
            </table>
        </main>
        </div>
        <div class ="side">
            <ol>
                <li>User submit picture</li><br>
                <li>Reviews can be made for tailor made model</li><br>
                <li>Create you own car record</li><br>
            </div>
        <div class = "bottom">
            <img class = "bottom_img" src = "static/pictures/Seneca Logo 1.png">
            <img class = "bottom_img2" src = "static/pictures/social media icons.jpg">
            <div class = "bottomtext">
                <a href="#" style=color:white;>Make a donation</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Privacy Statement</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Accessibility</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Terms of Use</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Join</a>
            </div>
            <p class = "bottom_copyright">© PythonCarReview.com Inc, CopyRight. By using pythoncarreviews.com, all interactions and user inputs are stored for legal purposes</p>
        </div>
    </div>
</body>
</html>