<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Car</title>
    <link rel = "stylesheet" type="text/css" href='static/style.css'>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/car">Add a Car</a></li>
            <li><a href="/view">View Cars</a></li>
            <li><a href="review">Add a Review</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
    <div class = "top">
        <h1>Python Car Review Site</h1>
        <img src = 'static/pictures/Top Logo.jpg'>
    </div>
    <div class = "body">
        <div class = "main">
        <main>
            <h2>Here are your recommendations</h2>
            <table border = "2">
                <tr>
                    <th>Car Make</th>
                    <th>Car Model</th>
                    <th>Year</th>
                    <th>Review</th>
                </tr>
                {% for result in results %}
                <tr>
                    <td>{{result[1]}}</td>
                    <td><a href = "/pictures/12">{{result[2]}}</a></td>
                    <td>{{result[3]}}</td>
                    <td><a href = "/review_all/{{result[4]}}">Check</a></td>
                </tr>
                {% endfor %}
            </table>  
        </main>
        </div>
        <div class ="side">
            <h2></h2>
        </div>
        <div class = "bottom">
            <img class = "bottom_img" src = "static/pictures/Seneca Logo 1.png">
            <img class = "bottom_img2" src = "static/pictures/social media icons.jpg">
            <div class = "bottomtext">
                <a href="#" style=color:white;>Make a donation</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Privacy Statement</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Accessibility</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Terms of Use</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Join</a>
            </div>
            <p class = "bottom_copyright">© PythonCarReview.com Inc, CopyRight. By using pythoncarreviews.com, all interactions and user inputs are stored for legal purposes</p>
        </div>  
    </div>
</body>
</html>