<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Cars</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/car">Add a Car</a></li>
            <li><a href="/view">View Cars</a></li>
            <li><a href="/review">Add a Review</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
    <div class = "body">
        <div class = "main">
        <main>
            <h2>{{MMY}}</h2>
            <table border = "2">
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Rating</th>
                    <th>Review</th>
                    <th>Found Useful</th>
                    <th>I like it</th>
                </tr>
                {% for review in reviews %}
                <tr>
                    <td>{{review[1]}}</td>
                    <td>{{review[3]}}</td>
                    <td>{{review[4]}}</td>
                    <td>{{review[5]}}</td>
                    <td>{{review[6]}}</td>
                    <td><a href = "/useful_one/{{review[0]}}/{{review[6]}}/{{review[2]}}">Like</a></td>
                </tr>
                {% endfor %}
            </table>   
        </main>
        </div>
        <div class ="side">
            <h2>Browse System</h2>
            <h2>Add comments by click Car Model</h2>
            <h2>Browse comments by click Check</h2>
        </div>
        <div class = "bottom">
        </div>
    </div>
</body>
</html>