<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Cars</title>
    <link rel = "stylesheet" type="text/css" href='static/style.css'>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/car">Add a Car</a></li>
            <li><a href="/view" class = "active">View Cars</a></li>
            <li><a href="/review">Add a Review</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
    <div class = "top">
        <h1>Python Car Review Site</h1>
        <img src = 'static/pictures/Top Logo 3.jpg'>
    </div>
    <div class = "body">
        <div class = "main">
        <main>
            &nbsp;<h1>All Cars</h1>
            <table border = "2" class = "view_table">
                <tr>
                    <th>Car Make</th>
                    <th>Car Model</th>
                    <th>Year</th>
                    <th>Review</th>
                </tr>
                {% for car in cars %}
                <tr>
                    <td>{{car[1]}}</td>
                    <td><a href = "/pictures/{{car[0]}}">{{car[2]}}</a></td>
                    <td>{{car[3]}}</td>
                    <td><a href = "/review_all/{{car[4]}}">Check</a></td>
                </tr>
                {% endfor %}
            </table>   
        </main>
        </div>
        <div class ="side">
            <br><br><br>
            <h2>Search for cars</h2><br>
            <form method = "POST" action = "/view">
                <label for = "make">Select a Make</label><br>
                <select id = 'make', name = "make"><br><br>
                    <option value = selected></option>
                    {% for make in makes %}
                    <option value = {{make[0]}}>{{make[0]}}</option>
                    {% endfor %}
                </select><br><br>
                <label for = "model">Select a Model</label><br>
                <select id = 'model', name = "model"><br><br>
                    <option value = selected></option>
                    {% for model in models %}
                    <option value = {{model[0]}}>{{model[0]}}</option>
                    {% endfor %}
                </select><br><br>
                <label for = "year">Select a Year</label><br>
                <select id = 'year', name = "year"><br><br>
                    <option value = selected></option>
                    {% for year in years %}
                    <option value = {{year[0]}}>{{year[0]}}</option>
                    {% endfor %}
                </select><br><br>
                <input type = "Submit" value = "Search">
            </form>
        </div>
        <div class = "bottom">
            <img class = "bottom_img" src = "static/pictures/Seneca Logo 1.png">
            <img class = "bottom_img2" src = "static/pictures/social media icons.jpg">
            <div class = "bottomtext">
                <a href="#" style=color:white;>Make a donation</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Privacy Statement</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Accessibility</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Terms of Use</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style=color:white;>Join</a>
            </div>
            <p class = "bottom_copyright">© PythonCarReview.com Inc, CopyRight. By using pythoncarreviews.com, all interactions and user inputs are stored for legal purposes</p>
        </div>
    </div>
</body>
</html>